.parent{
    width: 223px;
    border: 1px solid;
    box-shadow: 3px 3px 30px #a09a9a84;
    position: relative;
    font-family: sans-serif;
}
.parent img{
    width:100%;

}
.parent .top span{
    background: rgb(169, 0, 169);
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 0 20px 20px 0;
    display: inline-block;
    position: absolute;
    top: 10px;

    
}
.contains{
    padding: 15px;
}
.contains h4{
    font-weight: 600;
    font-size: 14px;
}
.contains h4:hover{
    color: #ef4a23;
    text-decoration: underline;
    cursor: pointer;
}
ul li{
    font-size: 13px;
    color: #666;
    margin: 8px;
}
.contains ul{
    padding-left: 15px;
}
.price{
    text-align: center;
    margin: 15px 0;
}
.price span{
    color: #ef4a23;
 }
 .discount a{
   
    width: 100%;
    display: block;
    background: rgba(55, 73, 187,.05) ;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
 }
 .discount a:hover{
    background: #3749BB;
    color: #fff;
 }